.image {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 1000px;
    border-style: none;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.playingField {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.playerSelection {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerField {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.computerSelection {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    margin: 5px;
    border: none;
    background-color: antiquewhite;
    border-radius: 1000px;
}