.image {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 1000px;
    border-style: none;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.playingField {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.playerSelection {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerField {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.computerSelection {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    margin: 5px;
    border: none;
    background-color: antiquewhite;
    border-radius: 1000px;
}

.resultContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.computerScore {
    background-color: dimgray;
    padding: 25px 50px;
    align-self: center;
    font-size: 40px;
    color: goldenrod;
    margin: 5px;
    margin-top: 50px;
}

.playerScore {
    background-color: dimgray;
    padding: 25px 50px;
    align-self: center;
    font-size: 40px;
    color: goldenrod;
    margin: 5px;
    margin-top: 50px;
}

.roundResult {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}